<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.StudentMapper">

    <select id="queryById" parameterType="int" resultType="com.wrh.entity.Student">
        SELECT * FROM student WHERE s_id=#{id}
    </select>

    <select id="queryById2" parameterType="int" resultType="com.wrh.entity.Student">
        SELECT s_id id,s_name name,s_age age FROM student WHERE s_id = #{id}

    </select>


    <select id="queryById3" parameterType="int" resultMap="resultStudentMap">
        SELECT * FROM student WHERE s_id = #{id}
    </select>

    <resultMap id="resultStudentMap" type="com.wrh.entity.Student">
        <id property="id" column="s_id"/>
        <result property="name" column="s_name"/>
        <result property="age" column="s_age"/>
    </resultMap>

</mapper>
